{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Reset your password' %}</div>{% endblock %}

{% block title %}{% trans 'Reset your password' %}{% endblock %}

{% block content %}

<h1>{% trans 'Reset your password' %}</h1>

<p>{% trans "Please enter your email then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
    
{% if form.email.errors %}{{ form.email.errors }}{% endif %}
<p class="aligned wide"><label for="id_email">{% trans 'Email:' %}</label>{{ form.email }}</p>
{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>

<p><input type="submit" value="{% trans 'Reset your password' %}" /></p>
</form>

{% endblock %}
