{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Password was reset successfully' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password was reset successfully' %}</h1>

<p>{% trans "Check your email for the new password.  If it doesn't arrive shortly then try again later or email kumar.mcmillan@gmail.com" %}</p>

{% endblock %}
